<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Car Caring Manage System</title>
</head>
<body>
    <!--Body-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            Auto Salon
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <button id="logout" class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="button" onclick="handleClickLogOut()">Log Out</button>
      </nav>
    <div>
        <img class="my-3 rounded mx-auto d-block" src="https://www.raspberrypi.org/app/uploads/2017/06/Powered-by-Raspberry-Pi-Logo_Outline-Colour-Screen-500x153.png" alt="">
    </div>
    <div class="container">
        <div class="alert alert-primary" style="display: none;">
                <span></span>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="login-section my-5" style="display: none;">
            <div class="card">
                <div class="card-header">
                    <h5>Log in to Car Manage System</h5>
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="username">Admin name</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                            <small id="emailHelp" class="form-text text-muted">You account is safe with us</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="main-section" style="display: block;">
            <div class="card car-list">
                <div class="card-header">
                    Car List
                </div>

                <div class="add-car-section card card-body">
                    <form>
                        <div class="form-group">
                            <label for="plate_number">Plate Number</label>
                            <input type="text" class="form-control" id="plate_number" placeholder="Enter plate number" name="plate_number">
                            <small id="titleHelp" class="form-text text-muted">Please enter an accurate name.</small>
                        </div>
                        <div class="form-group">
                            <label for="make">Make</label>
                            <input type="text" class="form-control" id="make" placeholder="Enter make" name="make">
                        </div>
                        <div class="form-group">
                            <label for="body_type">Body type</label>
                            <input type="text" class="form-control" id="body_type" placeholder="Enter body type" name="body_type">
                        </div>
                        <div class="form-group">
                            <label for="color">Color</label>
                            <input type="text" class="form-control" id="color" placeholder="Enter color" name="color">
                        </div>
                        <div class="form-group">
                            <label for="seats">Seats</label>
                            <input type="text" class="form-control" id="seats" placeholder="Enter seats" name="seats">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Enter location" name="location">
                        </div>
                        <div class="form-group">
                            <label for="cost_per_hour">Cost Per Hour</label>
                            <input type="text" class="form-control" id="cost_per_hour" placeholder="Enter cost per hour" name="cost_per_hour">
                        </div>
                        <button type="submit" class="btn btn-primary">Add Car</button>
                    </form>
                </div>

                <!--Car list-->
                <ul class="list-group-item">
                </ul>
                <ul class="pagination">
                    <li class="page-item" id="previous"><a class="page-link" href="#" >Previous</a></li>
                    <li class="page-item" id="next"><a class="page-link" href="#" >Next</a></li>
                </ul>

                <!--Graph-->
                <div class="card">
                    <div class="card-header">
                        Data visualization
                    </div>

                    <div class="card-body">
                        <h3>Daily Rent/Return plot</h3>
                        <div id="graphDailyDiv" class="mb-3"></div>
                        <h3>Monthly Rent/Return histogram</h3>
                        <div id="graphMonthlyDiv"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--D3JS-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!--My Scripts-->
    <script>
        //Global vars
        let username;
        let password;
        let page = 1;
        let has_prev = false;
        let has_next = false;
        let loginForm = document.querySelector("#loginForm");
        let loginSection = document.querySelector(".login-section");
        let carForm = document.querySelector(".add-car-section form");
        let mainSection = document.querySelector(".main-section");
        let alertSection = document.querySelector(".alert");

        window.onload = function() {
            if (window.localStorage.getItem('authentication') === 'true') {
                document.getElementById('logout').style.display = 'block';
                showAdminPanel();
                getCars(); //Get cars and display
                getAnalytics();
            } else {
                document.getElementById('logout').style.display = 'none';
            }
        }

        function handleClickLogOut() {
            window.localStorage.removeItem('authentication');
            location.href = '/admin'
        }

        //Login
        loginForm.onsubmit = function(event) {
            //Prevent page loading
            event.preventDefault();

            //Get user and password
            let formData = new FormData(event.target);
            username = formData.get('username');
            password = formData.get('password');

            //Fetch method
            fetch("http://127.0.0.1:5000/auth", {
                method: "POST",
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ":" + password)
                },
                body: formData
            })
            .then(resp => resp.json())
            .then(data => handleLogin(data))
            .catch(error => console.log(error))
        };

        //Handle login data
        function handleLogin(data) {
            if (data.status && data.status !== 200) {
                displayMessage(data.message);
                username = null;
                password = null
            } else {
                window.localStorage.setItem('authentication', 'true');
                document.getElementById('logout').style.display = 'block';
                //Hide login box and show login panel when logged in
                showAdminPanel();
                getCars(); //Get cars and display
                getAnalytics(); //Get data and draw graph
            }
        }

        function showAdminPanel() {
            //When logged in -> Hide the form
            loginSection.style.display = "none";
            //And display the main section
            mainSection.style.display = "block"
        }

        //Display message using the alert div in main
        function displayMessage(data) {
            alertSection.style.display = "block";
            alertSection.querySelector("span").textContent = data
        }

        //Close alert box when clicked
        alertSection.querySelector(".close").onclick = function() {
            alertSection.style.display = "none";
        };

        //Add car
        carForm.onsubmit = function(event) {
            //Prevent redirect
            event.preventDefault();

            //Get form data
            let formData = new FormData(event.target);

            //Send post request
            fetch(`http://127.0.0.1:5000/cars/add`, {
                method: "POST",
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ":" + password)
                },
                body: formData
            })
            .then(resp => resp.json())
            .then(data => {
                if (data.message) {
                    displayMessage(data.message)
                } else {
                    displayMessage(`New car added with id ${data.id}`)
                }
            })
            .catch(error => console.log(error))
        };

        //Request data from server
        function getCars() {
            console.log('Called');
            fetch(`http://127.0.0.1:5000/cars/${page}`, {
                method: "GET",
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ":" + password)
                }
            })
            .then(resp => resp.json())
            .then(data => displayCar(data))
        }


        //Display data after requested
        function displayCar(data) {
            let ul = mainSection.querySelector(".car-list ul");
            has_next = data.has_next;
            has_prev = data.has_prev;

            //Clear first
            ul.innerHTML = '';

            //Add all cars
            data.cars.forEach(car => {
                //Create a li element and add
                let li = document.createElement('li');
                li.className = "list-group-item";
                li.textContent = `${car.plateNumber} - ${car.make} - ${car.bodyType}- ${car.color} - ${car.seats} - ${car.location} - ${car.costPerHour}`;

                //Create a delete button
                let deleteButton = document.createElement("button");
                deleteButton.textContent = "Delete";
                deleteButton.className = "btn btn-danger float-right mb-2";
                deleteButton.onclick = function() {
                    deleteCar(car.carId )
                };

                //Add
                li.append(deleteButton);
                ul.appendChild(li)
            });

            //Pagination
            if (has_prev) {
                document.querySelector("#previous")
                        .className = "page-item active";
                document.querySelector("#previous a")
                        .onclick = () => {
                            page -= 1;
                            getCars()
                        }
            } else {
                document.querySelector("#previous")
                        .className = "page-item disabled"
            }

            if (has_next) {
                document.querySelector("#next")
                        .className = "page-item active";
                document.querySelector("#next a")
                        .onclick = () => {
                            page += 1;
                            getCars()
                        }
            } else {
                document.querySelector("#next")
                        .className = "page-item disabled"
            }
        }

        //Delete car
        function deleteCar(id) {
            fetch(`http://127.0.0.1:5000/cars/delete/${id}`, {
                method: "DELETE",
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ":" + password)
                }
            })
                .then(resp => resp.json())
                .then(data => {
                    if (data.error) {
                        displayMessage("Car has been returned or borrowed -> Can not remove")
                    } else {
                        displayMessage("Item deleted");
                        getCars()
                    }
                })
                .catch(error => displayMessage(error))
        }

        //Analytics
        function getAnalytics() {
            fetch(`http://127.0.0.1:5000/analytics/daily`, {
                method: "GET",
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ":" + password)
                }
            })
            .then(resp => resp.json())
            .then(data => drawDailyGraph(data));

            fetch(`http://127.0.0.1:5000/analytics/monthly`, {
                method: "GET",
                headers: {
                    'Authorization': 'Basic ' + btoa(username + ":" + password)
                }
            })
            .then(resp => resp.json())
            .then(data => drawMonthlyGraph(data))
        }

    </script>
    <script>
        //define margin
        let margin = {
            top: 50,
            right: 50,
            bottom: 30,
            left: 50
        };

        //Set graph size
        let svgWidth = 800;
        let svgHeight = 450;
        let graphWidth = svgWidth - margin.left - margin.right;
        let graphHeight = svgHeight - margin.bottom - margin.top;

        //Create a date parser for our data (parse time into formatted strings)
        let dateParse = d3.timeParse("%d-%m-%Y");
        let monthParse = d3.timeParse("%m-%Y");

        //Create scale for our axes
        let x = d3.scaleTime().range([0, graphWidth]);
        let y = d3.scaleLinear().range([graphHeight, 0]);

        //Create axes
        let xAxis = d3.axisBottom().scale(x);
        let yAxis = d3.axisLeft().scale(y);

        //Functions to draw line based on data (d) received
        let borrowLine = d3.line().x(function(d) { return x(d.date) }).y(function(d) { return y(d.borrow_count) });
        let returnLine = d3.line().x(function(d) { return x(d.date) }).y(function(d) { return y(d.return_count) });

        //Create svgs (this is where we'll draw our graphs)
        let svg = d3.select("#graphDailyDiv")
                        .append("svg")
                            .attr("width", svgWidth)
                            .attr("height", svgHeight)
                        .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        let monthSvg = d3.select("#graphMonthlyDiv")
                        .append("svg")
                            .attr("width", svgWidth)
                            .attr("height", svgHeight)
                        .append("g")
                            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        //Draw daily graph
        function drawDailyGraph(data) {
            // For each row in the data, parse the date
            // and use + to make sure data is numerical
            data.forEach(function(d) {
                d.date = dateParse(d.date);
                d.borrow_count = +d.borrow_count;
                d.return_count = +d.return_count;
            });

            //Set our scale to match the data
            x.domain(d3.extent(data, function(d) { return d.date; }));
            y.domain([d3.min(data, function(d) {
            return Math.min(d.borrow_count, d.return_count) }),
            d3.max(data, function(d) {
            return Math.max(d.borrow_count, d.return_count) })]);

            // Add the highLine as a green line
            svg.append("path")
                .style("stroke", "green")
                .style("fill", "none")
                .attr("class", "line")
                .attr("d", borrowLine(data));

            // Add the closeLine as a blue dashed line
            svg.append("path")
                .style("stroke", "blue")
                .style("fill", "none")
                .style("stroke-dasharray", ("3, 3"))
                .attr("d", returnLine(data));

            //Draw dots and add event listenner to be more interactive
            svg.selectAll('circle.borrow')
                .data(data)
                .enter()
                    .append('circle')
                    .attr("class", "borrow")
                    .attr("cx", function(d) { console.log(x(d.date));return x(d.date) })
                    .attr("r", 5)
                    .attr("cy", function(d) { return y(d.borrow_count) })
                    .style("fill", function() { return 'green' })
                    .on('mouseover', handleBorrowLineHover)
                    .on('mouseout', handleBorrowLineOut)
                .exit();

            //Same as above
            svg.selectAll('circle.return')
                .data(data)
                .enter()
                    .append('circle')
                    .attr("class", "return")
                    .attr("cx", function(d) { return x(d.date) })
                    .attr("r", 5)
                    .attr("cy", function(d) { return y(d.return_count) })
                    .style("fill", function() { return 'blue' })
                    .on('mouseover', handleReturnLineHover)
                    .on('mouseout', handleReturnLineOut)
                .exit();

            //Draw the x axis we have created above
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + graphHeight + ")")
                .call(xAxis);

            //Add a label for our axis
            svg.append("text")
                .attr("transform", "translate(" + (graphWidth/2) + ", " + (graphHeight + margin.top - 20) + ")")
                .style("text-anchor", "middle")
                .attr("font", "18px arial")
                .text("Date");

            //Draw the y axis we have created above
            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            //Add a label for our axis
            svg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x",0 - (graphHeight / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .attr("font", "18px arial")
                .text("Number of cars");

            //Add a text element to annotate our borrowed cars line
            svg.append("text")
                .attr("transform", "translate("+(graphWidth - 10)+","+ (y(data[data.length-1].borrow_count) - 15)+")")
                .attr("dy", ".35em")
                .attr("text-anchor", "start")
                .style("fill", "green")
                .text("Borrow");

            //Add a text element to annotate out returned cars line
            svg.append("text")
                .attr("transform", "translate("+(graphWidth - 10)+","+(y(data[data.length-1].return_count) - 15)+")")
                .attr("dy", ".35em")
                .attr("text-anchor", "start")
                .style("fill", "red")
                .text("Return");
        }


        //Draw monthly analytics from graph
        function drawMonthlyGraph(data) {
            data.forEach(function(d) {
                d.month = monthParse(d.month);
                d.borrow_count = +d.borrow_count;
                d.return_count = +d.return_count;
            });

            x.domain(d3.extent(data, function(d) { return d.month; }));
            y.domain([0, d3.max(data, function(d) { return Math.max(d.borrow_count, d.return_count) })]);


            monthSvg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + graphHeight + ")")
                .call(xAxis);

            monthSvg.append("text")
                .attr("transform", "translate(" + (graphWidth/2) + ", " + (graphHeight + margin.top - 20) + ")")
                .style("text-anchor", "middle")
                .attr("font", "18px arial")
                .text("Month");

            monthSvg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            monthSvg.append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x",0 - (graphHeight / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .attr("font", "18px arial")
                .text("Number of cars");

            //Draw bar chart and add event listener
            monthSvg.selectAll('bar.borrow')
                .data(data)
                .enter()
                    .append('rect')
                    .attr("x", function(data) { return x(data.month) - 20 })
                    .attr("y", function(data) { return y(data.borrow_count) } )
                    .attr("height", function(data) { return graphHeight - y(data.borrow_count) })
                    .attr("width", function() { return 20 })
                    .attr("fill", "aquamarine")
                    .on('mouseover', handleBorrowBarHover)
                    .on('mouseout', handleBorrowBarOut)
                .exit();

            //Draw returned bar chart and add event listener
            monthSvg.selectAll('bar.return')
                .data(data)
                .enter()
                    .append('rect')
                    .attr("x", function(data) { return x(data.month)  })
                    .attr("y", function(data) { return y(data.return_count) } )
                    .attr("height", function(data) { console.log(data.return_count); return graphHeight - y(data.return_count) })
                    .attr("width", function() { return 20 })
                    .attr("fill", "blue")
                    .on('mouseover', handleReturnBarHover)
                    .on('mouseout', handleReturnBarOut)
                .exit();

            //Add annotation for two histogram
            monthSvg.append("circle").attr("cx",450).attr("cy",30).attr("r", 6).style("fill", "aquamarine");
            monthSvg.append("circle").attr("cx",450).attr("cy",60).attr("r", 6).style("fill", "blue");
            monthSvg.append("text").attr("x", 470).attr("y", 30).text("Car borrowed").style("font-size", "15px").attr("alignment-baseline","middle");
            monthSvg.append("text").attr("x", 470).attr("y", 60).text("Car returned").style("font-size", "15px").attr("alignment-baseline","middle");
        }


        //This function will display the number of borrowed cars when the circle is hover
        function handleBorrowLineHover(d, i) {
            let circle = d3.select(this);
            circle
                .style("fill", function() { return 'orange' })
                .attr("r", 10);

            svg.append("text")
                .attr("x", () => { return circle.attr("cx") - 30; })
                .attr("y", function() { return circle.attr("cy") - 25; })
                .attr("id", "b" + d.borrow_count + "-" + i)
                .text(function() {
                return d.borrow_count + " car(s)";  // Value of the text
                });
        }


        //The same as handleBorrowHover (but for returned cars)
        function handleReturnLineHover(d, i) {
            let circle = d3.select(this);
            circle
                .style("fill", function() { return 'orange' })
                .attr("r", 10);

            svg.append("text")
                .attr("x", () => { return circle.attr("cx") - 30; })
                .attr("y", function() { return circle.attr("cy") - 25; })
                .attr("id", "r" + d.return_count + "-" + i)
                .text(function() {
                return d.return_count + " car(s)";  // Value of the text
                });
        }


        //This function will remove the text created by the handleBorrowLineOver functions
        function handleBorrowLineOut(d, i) {
            d3.select(this)
                .style("fill", function() { return 'green' })
                .attr("r", 5);

            svg.select("#b" + d.borrow_count + "-" + i).remove()
        }


        //The same as handleBorrowLineOut (but for returned cars)
        function handleReturnLineOut(d, i) {
            d3.select(this)
                .style("fill", function() { return 'blue' })
                .attr("r", 5);

            svg.select("#r" + d.return_count + "-" + i).remove()
        }


        //Same as above, but for the bar chart
        function handleBorrowBarHover(d, i) {
            bar = d3.select(this)
                .style("fill", function() { return 'yellow' })
                .attr("width", function() { return 22.5 });

            //Add text
            monthSvg.append('text')
                    .attr("x", () => { return bar.attr("x") - 20; })
                    .attr("y", function() { return bar.attr("y") - 20; })
                    .attr("id", "bbar" + d.borrow_count + "-" + i)
                    .text(function() {
                    return d.borrow_count + " car(s)";  // Value of the text
                    });
        }

        function handleBorrowBarOut(d, i) {
            bar = d3.select(this)
                .style("fill", function() { return 'aquamarine' })
                .attr("width", function() { return 20 });
            monthSvg.select("#bbar" + d.borrow_count + "-" + i).remove()
        }

        function handleReturnBarHover(d, i) {
            bar = d3.select(this)
                .style("fill", function() { return 'yellow' })
                .attr("width", function() { return 22.5 });

            //Add text
            monthSvg.append('text')
                    .attr("x", () => { return bar.attr("x") - 20; })
                    .attr("y", function() { return bar.attr("y") - 20; })
                    .attr("id", "rbar" + d.return_count + "-" + i)
                    .text(function() {
                    return d.return_count + " car(s)";  // Value of the text
                    });
        }

        function handleReturnBarOut(d, i) {
            bar = d3.select(this)
                .style("fill", function() { return 'blue' })
                .attr("width", function() { return 20 });
            monthSvg.select("#rbar" + d.return_count + "-" + i).remove()
        }
    </script>
</body>
</html>
