bcrypt==3.1.7
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cmake
dlib
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask
Flask-BasicAuth
Flask-Cors
Flask-RESTful
Flask-SQLAlchemy
google-api-python-client==1.11.0
google-auth==1.21.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
httplib2==0.18.1
idna==2.8
input==0.0.0
marshmallow-sqlalchemy
mysql-connector==2.2.9
numpy
oauthlib==3.1.0
opencv-python==4.1.2.30
Pillow
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pyzbar==0.1.8
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
SpeechRecognition
uritemplate==3.0.0
urllib3==1.25.3
Werkzeug
pyjwt
pymysql
